*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:bold 20px "Courier"
}
#main{
    width:360px;
    height:420px;
    background-color: #b7b7b7;
    margin:100px auto;
    border:10px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#stage{
    width: 304px;
    height: 304px;
    border:2px solid black;
    position: relative;
}
#snake div{
    width:10px;
    height: 10px;
    background-color: #000;
    border:1px solid #b7b7b7;
    position: absolute;
}
#food{
    width:10px;
    height:10px;
    position: absolute;
    left:40px;
    top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#food div{
    width:4px;
    height: 4px;
    background-color: #000;
    transform: rotate(45deg);
}
#score-panel{
    width: 304px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#dialog{
    margin:130px auto;
    width: 200px;
    height: 150px;
    border:2px solid black;
    background-color: #ccc;
    border-radius:10px;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#dialog::backdrop{
    background-color: rgba(126,201,236,0.6);
}

